openapi: 3.1.0
info:
  title: ACI.dev app-configurations API
  version: 0.0.1-beta.3
  description: Aipolabs ACI - Agent-Computer Interface. Open-source tool-calling platform that hooks AI agents into 600+ tools through unified function calling and MCP.
  contact:
    name: Aipolabs
    url: https://aci.dev
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.aci.dev
  description: ACI.dev production API
tags:
- name: app-configurations
paths:
  /v1/app-configurations:
    post:
      tags:
      - app-configurations
      summary: Create App Configuration
      description: Create an app configuration for a project
      operationId: app-configurations-create_app_configuration
      security:
      - APIKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppConfigurationCreate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConfigurationPublic'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - app-configurations
      summary: List App Configurations
      description: List all app configurations for a project, with optionally filters
      operationId: app-configurations-list_app_configurations
      security:
      - APIKeyHeader: []
      parameters:
      - name: app_names
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Filter by app names.
          title: App Names
        description: Filter by app names.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 1000
          minimum: 1
          description: Maximum number of results per response.
          default: 100
          title: Limit
        description: Maximum number of results per response.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Pagination offset.
          default: 0
          title: Offset
        description: Pagination offset.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppConfigurationPublic'
                title: Response App-Configurations-List App Configurations
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/app-configurations/{app_name}:
    get:
      tags:
      - app-configurations
      summary: Get App Configuration
      description: Get an app configuration by app name
      operationId: app-configurations-get_app_configuration
      security:
      - APIKeyHeader: []
      parameters:
      - name: app_name
        in: path
        required: true
        schema:
          type: string
          title: App Name
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConfigurationPublic'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - app-configurations
      summary: Delete App Configuration
      description: 'Delete an app configuration by app name

        Warning: This will delete the app configuration from the project,

        associated linked accounts, and then the app configuration record itself.'
      operationId: app-configurations-delete_app_configuration
      security:
      - APIKeyHeader: []
      parameters:
      - name: app_name
        in: path
        required: true
        schema:
          type: string
          title: App Name
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - app-configurations
      summary: Update App Configuration
      description: 'Update an app configuration by app name.

        If a field is not included in the request body, it will not be changed.'
      operationId: app-configurations-update_app_configuration
      security:
      - APIKeyHeader: []
      parameters:
      - name: app_name
        in: path
        required: true
        schema:
          type: string
          title: App Name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppConfigurationUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConfigurationPublic'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    AppConfigurationUpdate:
      properties:
        security_scheme:
          anyOf:
          - $ref: '#/components/schemas/SecurityScheme'
          - type: 'null'
        security_scheme_overrides:
          anyOf:
          - type: object
          - type: 'null'
          title: Security Scheme Overrides
        enabled:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Enabled
        all_functions_enabled:
          anyOf:
          - type: boolean
          - type: 'null'
          title: All Functions Enabled
        enabled_functions:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Enabled Functions
      type: object
      title: AppConfigurationUpdate
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    AppConfigurationCreate:
      properties:
        app_name:
          type: string
          title: App Name
        security_scheme:
          $ref: '#/components/schemas/SecurityScheme'
        security_scheme_overrides:
          type: object
          title: Security Scheme Overrides
        all_functions_enabled:
          type: boolean
          title: All Functions Enabled
          default: true
        enabled_functions:
          items:
            type: string
          type: array
          title: Enabled Functions
      type: object
      required:
      - app_name
      - security_scheme
      title: AppConfigurationCreate
      description: 'Create a new app configuration

        “all_functions_enabled=True” → ignore enabled_functions.

        “all_functions_enabled=False” AND non-empty enabled_functions → selectively enable that list.

        “all_functions_enabled=False” AND empty enabled_functions → all functions disabled.'
    SecurityScheme:
      type: string
      enum:
      - no_auth
      - api_key
      - http_basic
      - http_bearer
      - oauth2
      title: SecurityScheme
      description: security scheme type for an app (or function if support override)
    AppConfigurationPublic:
      properties:
        id:
          type: string
          format: uuid
          title: Id
        project_id:
          type: string
          format: uuid
          title: Project Id
        app_name:
          type: string
          title: App Name
        security_scheme:
          $ref: '#/components/schemas/SecurityScheme'
        security_scheme_overrides:
          type: object
          title: Security Scheme Overrides
        enabled:
          type: boolean
          title: Enabled
        all_functions_enabled:
          type: boolean
          title: All Functions Enabled
        enabled_functions:
          items:
            type: string
          type: array
          title: Enabled Functions
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
      type: object
      required:
      - id
      - project_id
      - app_name
      - security_scheme
      - security_scheme_overrides
      - enabled
      - all_functions_enabled
      - enabled_functions
      - created_at
      - updated_at
      title: AppConfigurationPublic
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: API key for authentication
      in: header
      name: X-API-KEY
