openapi: 3.1.0
info:
  title: ACI.dev app-configurations functions API
  version: 0.0.1-beta.3
  description: Aipolabs ACI - Agent-Computer Interface. Open-source tool-calling platform that hooks AI agents into 600+ tools through unified function calling and MCP.
  contact:
    name: Aipolabs
    url: https://aci.dev
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.aci.dev
  description: ACI.dev production API
tags:
- name: functions
paths:
  /v1/functions/search:
    get:
      tags:
      - functions
      summary: Search Functions
      description: Returns the basic information of a list of functions.
      operationId: functions-search_functions
      security:
      - APIKeyHeader: []
      parameters:
      - name: app_names
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: List of app names for filtering functions.
          title: App Names
        description: List of app names for filtering functions.
      - name: intent
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Natural language intent for vector similarity sorting. Results will be sorted by relevance to the intent.
          title: Intent
        description: Natural language intent for vector similarity sorting. Results will be sorted by relevance to the intent.
      - name: configured_only
        in: query
        required: false
        schema:
          type: boolean
          description: If true, only returns functions of apps that are configured.
          default: false
          title: Configured Only
        description: If true, only returns functions of apps that are configured.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 1000
          minimum: 1
          description: Maximum number of Apps per response.
          default: 100
          title: Limit
        description: Maximum number of Apps per response.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Pagination offset.
          default: 0
          title: Offset
        description: Pagination offset.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FunctionBasic'
                title: Response Functions-Search Functions
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/functions/{function_name}/definition:
    get:
      tags:
      - functions
      summary: Get Function Definition
      description: 'Return the function definition that can be used directly by LLM.

        The actual content depends on the intended model (inference provider, e.g., OpenAI, Anthropic, etc.) and the function itself.'
      operationId: functions-get_function_definition
      security:
      - APIKeyHeader: []
      parameters:
      - name: function_name
        in: path
        required: true
        schema:
          type: string
          title: Function Name
      - name: inference_provider
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/InferenceProvider'
          description: The inference provider, which determines the format of the function definition.
          default: openai
        description: The inference provider, which determines the format of the function definition.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OpenAIFunctionDefinition'
                - $ref: '#/components/schemas/AnthropicFunctionDefinition'
                title: Response Functions-Get Function Definition
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/functions/{function_name}/execute:
    post:
      tags:
      - functions
      summary: Execute
      operationId: functions-execute
      security:
      - APIKeyHeader: []
      parameters:
      - name: function_name
        in: path
        required: true
        schema:
          type: string
          title: Function Name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunctionExecute'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionExecutionResult'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    FunctionExecute:
      properties:
        function_input:
          type: object
          title: Function Input
          description: The input parameters for the function.
        linked_account_owner_id:
          type: string
          maxLength: 255
          title: Linked Account Owner Id
          description: The owner id of the linked account. This is the id of the linked account owner in the linked account provider.
      type: object
      required:
      - linked_account_owner_id
      title: FunctionExecute
    FunctionBasic:
      properties:
        name:
          type: string
          title: Name
        description:
          type: string
          title: Description
      type: object
      required:
      - name
      - description
      title: FunctionBasic
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    OpenAIFunctionDefinition:
      properties:
        type:
          type: string
          enum:
          - function
          const: function
          title: Type
          default: function
        function:
          $ref: '#/components/schemas/OpenAIFunction'
      type: object
      required:
      - function
      title: OpenAIFunctionDefinition
    FunctionExecutionResult:
      properties:
        success:
          type: boolean
          title: Success
        data:
          anyOf:
          - {}
          - type: 'null'
          title: Data
        error:
          anyOf:
          - type: string
          - type: 'null'
          title: Error
      type: object
      required:
      - success
      title: FunctionExecutionResult
    AnthropicFunctionDefinition:
      properties:
        name:
          type: string
          title: Name
        description:
          type: string
          title: Description
        input_schema:
          type: object
          title: Input Schema
      type: object
      required:
      - name
      - description
      - input_schema
      title: AnthropicFunctionDefinition
    InferenceProvider:
      type: string
      enum:
      - openai
      - anthropic
      title: InferenceProvider
    OpenAIFunction:
      properties:
        name:
          type: string
          title: Name
        strict:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Strict
        description:
          type: string
          title: Description
        parameters:
          type: object
          title: Parameters
      type: object
      required:
      - name
      - description
      - parameters
      title: OpenAIFunction
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: API key for authentication
      in: header
      name: X-API-KEY
